.legend {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .badge {
    font-size: 1rem;
    padding: 0.5rem;
  }
  
.tasks .badge.short-term {
  background-color: #89CFF0;
  color: #000;
}

.tasks .badge.long-term {
  background-color: #3A5F7D;
  color: #FFF;
}
/* css to make button for description smaller */
.smaller {
    font-size: 0.8rem;
  }
  
